@model CMS.Application.DTOs.InterviewsDTO
<style>
    .text-mute {
        color: #6c757d;
    }
</style>
<div class="card">
    <div class="card-body">
        <h2>Interview Details</h2>
        <hr />
        <dl class="row">

            <dt class="col-sm-2">Candidate Name:</dt>
            <dd class="col-sm-10">@Model.FullName</dd>

            <dt class="col-sm-2">Level:</dt>
            <dd class="col-sm-10">@Model.Name</dd>

            <dt class="col-sm-2">Track:</dt>
            <dd class="col-sm-10">@Model.TrackName</dd>

            <dt class="col-sm-2">Interviewer Name:</dt>
            <dd class="col-sm-10">@Model.InterviewerName</dd>

            <dt class="col-sm-2">Date:</dt>
            <dd class="col-sm-10">@Model.Date</dd>

            <dt class="col-sm-2" hidden>Parent ID</dt>
            <dd class="col-sm-10" hidden>@Model.ParentId</dd>

            @* <dt class="col-sm-2">Score:</dt>
            <dd class="col-sm-10">@Model.Score</dd> *@

            <dt class="col-sm-2">Status:</dt>
            <dd class="col-sm-10">@Model.StatusName</dd>

            @if (Model.Notes !=null)
            {
                <dt class="col-sm-2">Notes:</dt>
                <dd class="col-sm-10">@Model.Notes</dd>
            }
            else
            {
                <dt class="col-sm-2">Notes:</dt>
                <dd class="col-sm-10 text-mute">No note added</dd>
            }
      

            @if (Model.StopCycleNote != null)
            {
                <dt class="col-sm-2">Stop Cycle Note:</dt>
                <dd class="col-sm-10">@Model.StopCycleNote</dd>
            }
            else
            {
                <dt class="col-sm-2">Stop Cycle Note:</dt>
                <dd class="col-sm-10 text-mute">No note added</dd>

            }

            @if (@Model.CandidateCVAttachmentId != null)
            {
                <dt class="col-sm-2" style="margin-top: 8px;">CV Attachment:</dt>
                <dd class="col-sm-10" style="margin-top: 6px;">
                    <a asp-controller="Attachments" asp-action="Download" asp-route-id="@Model.CandidateCVAttachmentId" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Download CV"><i style="font-size: x-large;" class="bx bxs-cloud-download"></i></a>
                </dd>
            }
            else
            {
                <dt class="col-sm-2" style="margin-top: 8px;">CV Attachment:</dt>
                <dd class="col-sm-10 text-mute" style="margin-top: 6px;">
                    CV not added for<br />
                    this candidate
                </dd>
            }


          

            @*  @if (Model.AttachmentId != null)
            {
            <dt class="col-sm-2">Evaluation:</dt>
            <dd class="col-sm-10">
            <a asp-controller="Attachments" asp-action="Download" asp-route-id="@Model.AttachmentId">Download evaluation</a>
            </dd>
            }
            else
            {
            <dt class="col-sm-2">Evaluation:</dt>
            <dd class="col-sm-10">There is no Evaluation for this interview</dd>
            } *@

        </dl>
    </div>
</div>

<div class="form-group mt-3">
    @* <a asp-action="Edit" asp-route-id="@Model.InterviewsId" class="btn btn-primary">Edit</a> *@
    <a class="btn btn-secondary" href="@Url.Action("Index", new { positionFilter = ViewBag.PositionFilter, scoreFilter = ViewBag.ScoreFilter, statusFilter = ViewBag.StatusFilter, candidateFilter = ViewBag.CandidateFilter, interviewerFilter = ViewBag.InterviewerFilter, fromDate = ViewBag.FromDate, toDate = ViewBag.ToDate, trackFilterDropdown = ViewBag.TrackList })">Back to List</a>
</div>
