@using CMS.Domain.Enums;
@model CMS.Application.DTOs.InterviewsDTO

@{
    ViewData["Title"] = "Schedule New Interview";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" rel="stylesheet" />



<form asp-action="Create" id="createForm">
    @*     <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    *@
    <div class="form-group">
        <label asp-for="CandidateId" class="control-label"><span class="text-danger">*</span> Candidate</label>
        @if (ViewBag.candidateList != null)
        {
            <select style="width: 30%;" asp-for="CandidateId" asp-items="@(ViewBag.candidateList)" class="form-control" id="candidate-dropdown" name="CandidateId" data-selectize="true">
                <option value="">-- Select Name --</option>
            </select>
        }
        <span asp-validation-for="CandidateId" class="text-danger" id="candidateIdError"></span>
    </div>

    <div class="form-group" style="margin-top: 15px;">

        <label asp-for="PositionId" class="control-label"><span class="text-danger">*</span> Level</label>
        @if (ViewBag.positionList != null)
        {
            <select style="width: 30%;" asp-for="PositionId" asp-items="@(ViewBag.positionList)" class="form-control" >
                <option value="">-- Select a Level --</option>

            </select>
        }

        <span asp-validation-for="PositionId" class="text-danger" id="positionIdError"></span>
    </div>

    <div class="form-group" style="margin-top: 15px;">
        <label asp-for="TrackId" class="control-label"><span class="text-danger">*</span> Track</label>
        @if (ViewBag.Tracks != null)
        {
            <select style="width: 30%;" asp-for="TrackId" asp-items="@(ViewBag.Tracks)" class="form-control">
                <option value="">-- Select a Track --</option>
            </select>
        }

        <span asp-validation-for="TrackId" class="text-danger"></span>
        <span id="trackIdError" class="text-danger"></span>
    </div>

    <div class="card" style="width: 400px; margin-top: 20px; padding: 20px;">

        <div class="form-group">
            <label style="font-size: medium;">First Interview</label>
            <div style="width: 78%;">
                <label asp-for="InterviewerId" class="control-label">#1 <span class="text-danger">*</span></label>
                @if (ViewBag.interviewersList != null)
                {
                    <select style="width: 100%;" asp-for="InterviewerId" asp-items="@(ViewBag.interviewersList)" class="form-control">
                        <option value="">-- Select an Interviewer --</option>
                    </select>
                }
                <span asp-validation-for="InterviewerId" class="text-danger" id="interviewerIdError"></span>
            </div>
        </div>

        <div class="form-group" style="margin-top: 20px;">
            <label asp-for="SecondInterviewerId" class="control-label">#2 <span>(optional)</span></label>
            <div style="width: 78%;">
                @if (ViewBag.interviewersList != null)
                {
                    <select style="width: 100%;" asp-for="SecondInterviewerId" asp-items="@(ViewBag.interviewersList)" class="form-control">
                        <option value="">-- Select Second Interviewer --</option>
                    </select>
                }
                <span asp-validation-for="SecondInterviewerId" class="text-danger"></span>
            </div>
        </div>

    </div>


    
    <div class="form-group" style="margin-top: 30px;">
    <label asp-for="ArchitectureInterviewerId" class="control-label">Architecture Interviewers <span>(optional)</span></label>
    @if (ViewBag.architecturesList != null)
    {
    <select style="width: 30%;" asp-for="ArchitectureInterviewerId" asp-items="@(ViewBag.architecturesList)" class="form-control">
    <option value="">-- Select Architecture Interviewer --</option>
    </select>
    }
    <span asp-validation-for="ArchitectureInterviewerId" class="text-danger"></span>
    </div>
   


    @*   <div class="form-group">
    <label asp-for="InterviewerId" class="control-label">Interviewer</label>
    @Html.DropDownListFor(model => model.InterviewerId, (SelectList)ViewBag.interviewersList, "Select an Interviewer", new { @class = "form-control" })
    <span asp-validation-for="InterviewerId" class="text-danger"></span>

    </div> *@
    <div class="form-group" style="margin-top: 30px;">
        <label asp-for="Date" class="control-label"><span class="text-danger">*</span> Date</label>
        <input style="width: 30%;" asp-for="Date" class="form-control" />
        <span asp-validation-for="Date" class="text-danger" id="dateValidationMessage"></span>
    </div>
    <div class="form-group" hidden>
        <label asp-for="ParentId" class="control-label"></label>
        <input asp-for="ParentId" class="form-control" />
        <span asp-validation-for="ParentId" class="text-danger"></span>
    </div>




    <div class="form-group " style="margin-top: 20px;">
        <input type="submit" value="Schedule" class="btn btn-primary" />
        <a class="btn btn-secondary" asp-action="Index">Back to List</a>

    </div>

</form>
@* <p>@Html.ValidationSummary()</p> *@
@* <script>

    document.getElementById("createForm").onsubmit = function () {
        return validateDate();
    };

    function validateDate() {
        var dateInput = document.getElementById("Date");
        var date = new Date(dateInput.value);
        var currentDate = new Date();

        if (date <= currentDate) {
            var dateValidationMessage = document.getElementById("dateValidationMessage");
            dateValidationMessage.textContent = "Date must be in the future";
            return false;
        }

        return true;
    }
</script>
 *@
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"></script>

<!-- SweetAlert2 CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">

<!-- SweetAlert2 JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


<script>
    $(document).ready(function () {
        $('#candidate-dropdown').selectize();

        $('#createForm').submit(function (e) {
            // Validate the form
            if (!validateForm()) {
                e.preventDefault(); // Prevent the default form submission if validation fails
                return;
            }

            // If validation passed, show the confirmation popup
            showConfirmationPopup(e);
        });

        function validateForm() {
            var valid = true;

            // Validate Position
            var positionId = $('#PositionId').val();
            if (!positionId) {
                $('#positionIdError').text('Level is required.');
                valid = false;
            } else {
                $('#positionIdError').text('');
            }

            // Validate Track
            var trackId = $('#TrackId').val();
            if (!trackId) {
                $('#trackIdError').text('Track is required.');
                valid = false;
            } else {
                $('#trackIdError').text('');
            }

            // Validate #1 (InterviewerId)
            var interviewerId = $('#InterviewerId').val();
            if (!interviewerId) {
                $('#interviewerIdError').text('First Interviewer is required.');
                valid = false;
            } else {
                $('#interviewerIdError').text('');
            }

            // Validate Date
            var date = $('#Date').val();
            if (!date) {
                $('#dateValidationMessage').text('Date is required.');
                valid = false;
            } else {
                $('#dateValidationMessage').text('');
            }

            return valid;
        }

        function showConfirmationPopup(e) {
            e.preventDefault(); // Prevent the default form submission

            // Proceed with form submission
            var date = $('#Date').val();
            var jsDate = new Date(date);
            var formattedDate =
                ('0' + jsDate.getDate()).slice(-2) + '/' +
                ('0' + (jsDate.getMonth() + 1)).slice(-2) + '/' +
                jsDate.getFullYear() + ' ' +
                ('0' + ((jsDate.getHours() % 12) || 12)).slice(-2) + ':' +
                ('0' + jsDate.getMinutes()).slice(-2) + ' ' +
                (jsDate.getHours() >= 12 ? 'PM' : 'AM');

            var message = 'You are about to schedule an interview on ' + formattedDate + '. Are you sure you want to proceed?';

            Swal.fire({
                title: 'Are you sure?',
                text: message,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, submit it!',
                cancelButtonText: 'No, cancel!',
            }).then((result) => {
                if (result.isConfirmed) {
                    // If the user clicks "Yes", manually trigger the form submission
                    $('#createForm').unbind('submit').submit();
                }
            });
        }
    });
</script>
