@model IEnumerable<CMS.Application.DTOs.InterviewsDTO>



<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h5 class="card-title mb-0 flex-grow-1">View History: <span style="color:red">@ViewBag.CandidateName</span></h5>

            </div>
            <div class="card-body">

                <table id="add-rows" class="table table-nowrap dt-responsive table-bordered display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Candidate Name</th>
                            <th>Interviewer</th>
                            <th>Score</th>
                            <th>Actual Experience</th>
                            <th >Notes</th>
                            <th>Evaluation</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                                @if (item.SecondInterviewerId != null)
                                {
                                    <td>@item.InterviewerName & @item.SecondInterviewerName</td>
                                }
                                else
                                {
                                    <td>@item.InterviewerName</td>
                                }
                                <td>@item.Score</td>
                                <td>@item.ActualExperience</td>
                                @if(item.Notes != null){
                                    <td style="max-width: 200px; white-space: pre-line;">@item.Notes</td>

                                }
                                else
                                {
                                    <td style="max-width: 200px; white-space: pre-line;" class="text-muted">No note added</td>
                                }

                                @if (item.AttachmentId != null)
                                    {
                                        <td><a asp-controller="Attachments" asp-action="Download" asp-route-id="@item.AttachmentId">Download evaluation</a></td>
                                    }
                                    else
                                    {
                                        <td> </td>
                                    }
       
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div>
<a class="btn btn-secondary" asp-action="MyInterviews">Back to List</a>
</div>
